.header{
  background-color: #294e8a;
}

ul:messages{
  list-style-type: none;
}
div ul {
  list-style-type: none;
  margin-left: 16px;
  padding: 0;
  overflow: hidden;
}

 li{

  float: left;

}

div li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

a:link{
  text-decoration: none;
  color: white;
}

div li a:hover{
  background-color: rgba(255, 255, 255, 0.4);
}

.placeholder{
  text-align: center;
  background-color: red;
  font-size: 200px;
}
