li{
   color: white; 
}

nav li{
    float: left;
    width: 15%;
    text-align: center;
    background-color: rgb(0,99,148);
    margin: 5px 2px 15px 3px;
}

nav li{
    position: relative;
    list-style: none;
    padding: 1px;
    margin: 0px;
}
