@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}


/*ul {
    border-style: solid;
    border-color: rgb(255,100,255);
    border-width: thick;
}*/

li{
    color: white;
}

nav li{
	font-weight: lighter;
	font-size: 14px;
    float: left;
    width: 12%;
    text-align: center;
    background-color: rgb(0,99,148);
    position: relative;
    list-style: none;
    padding: 10px 0px 10px 0px;
}

#selectedPage{
	font-weight: bold;
}
