@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

/*Kiana's styling imported into the react app*/
.App-header{
  background-color: #006394;
}

ul:messages{
  list-style-type: none;
}
div ul {
  list-style-type: none;
  margin-left: 16px;
  padding: 0;
  overflow: hidden;
}

 li{

  float: left;

}

div li {
  display: block;
  color: #EEEEEE;
  text-align: center;
  padding: 14px 16px;
}

a:link{
  text-decoration: none;
  color: white;
}

div li a:hover{
  background-color: rgba(255, 255, 255, 0.4);
}

.placeholder{
  text-align: center;
  background-color: red;
  font-size: 200px;
}



/*old css, might need for reference*/
/*li{
    color: white;
    float: left;
}

div ul{
    list-style-type: none;
    margin-left: 16px;
    padding: 0;
    overflow: hidden;
}



div li{
	font-weight: lighter;
	font-size: 14px;
    width: 12%;
    text-align: center;
    background-color: rgb(0,99,148);
    position: static;
    list-style: none;
    padding: 10px 0px 10px 0px;
}

#selectedPage{
	font-weight: bold;
}*/


